# Agregar los directorios a proteger, separados por una coma
# Intervalo de tiempo entre examenes en segundos
# Guardar la configuracion antes de iniciar el examen
Selected Hash mode=md5
Directories to protect=C:\Users\Marcel\OneDrive - UNIVERSIDAD DE SEVILLA\GitHub\shopping-cart-nfc
Verify interval=10
email=gigi.dan2011@gmail.com
smtpPass=qwguzqtdjcpxmnhs
toEmail=gigi.dan2011@gmail.com,marceldan75@gmail.com