# Agregar los directorios a proteger, separados por una coma
# Intervalo de tiempo entre examenes en segundos
# Guardar la configuracion antes de iniciar el examen
Selected Hash mode=md5
Directories to protect=C:\Users\fraal\Desktop\ASIGNATURAS\AII
Verify interval=10
Report interval=60
email=
smtpPass=
toEmail=